.color-primary {
  background-color:rgba(213, 129, 37, 1)
}

.clr-primary {
  color:rgba(213, 129, 37, 1)
}
.clr-primary:hover {
  color:#753d00
}

.button-primary {
  background-color:rgba(213, 129, 37, 1)
}

.button-primary:hover {
  background-color:#bd721f
}